<h1>予約登録画面</h1>
<%= render "layouts/error_messages" %>
<%= form_with model: @reservation, local:true do |f| %>
  <p><%= f.label :user_name %>：<%= f.text_field :user_name %></p>
  <p><%= f.label :time %>：<%= f.text_field :time %></p>
  <p><%= f.label :menu_name %>：<%= f.text_field :menu_name %></p>
  <%= f.submit "登録" %>
<% end %>
